.container{
    margin: 0 auto;
    width: 1250px;
}
.navigation_menu{
    padding: 20px;
}
.logo{
    float: left;
}
.logo img{
    height: 150px;
    width: 150px;
}
.menu {
    float: right;
    padding: 20px;
    list-style: none;
}
.menu li {
    margin: 10px;
    float: left;
}
.menu li a{
    display: inline-block;
    padding: 10px;
    background: orange;
    text-decoration: none;
}
.text_block{
    clear: both;
    column-count: 3;
    padding: 5px;
    column-gap: 35px;
    text-align: justify;
    vertical-align: top;
    column-width: 200px;
    column-rule: 5px dotted red;

}
.photo{
    height: 200px;
    width: 200px;
    margin: 15px;
}
.first_column{
    float: right;
}
.second_column{
    float: left;

}
.third_column{
    float: right;
}