.container{
    display: block;
}
.text{
    margin: 70px 0;
    width: 90%;
}
.navigation-horizontal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: darkslategrey;
}
.navigation-vertical{
    margin-top: 20px;
    position: sticky;
    top: 100px;
    float: right;
    height: 600px;
    width: 300px;
    background-color: forestgreen;
}
.items{
    float: right;
}
.horizontal{
    list-style: none;
    margin: 15px;
    float: left;
}
.horizontal:hover{
    background-color: white;
}
.horizontal img{
    height: 50px;
    width: 50px;
}
.vertical{
    margin: 0 auto;
    list-style-type: none;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    height: 300px;
    width: 200px;
}
.horizontal:hover .vertical{
    visibility: visible;
}
span{
    position: relative;
    bottom: 10px;
    left: 10px;
}
.vertical .home{
    background-color: blue;
    height: 40px;
}
.vertical .about{
    background-color: blue;
    height: 40px;
    top: 20px;
}
.vertical .work{
    background-color: blue;
    height: 40px;
    top: 40px;
}
.vertical img{
    height: 30px;
    width: 30px;
}
.additional{
    padding: 10px;
    display: none;
}
.list .item{
    list-style-type: none;
    width: 150px;
    text-align: center;
    padding: 10px;
}
.item{
    margin: 10px;
    background-color: dodgerblue;
    border-radius: 10px;
}
.left{
    position: relative;
    background-color: silver;
    bottom: 40px;
    right: 170px;
    height: 40px;
    width: 100px;
    display: none;
    border-radius: 0;
    margin-bottom: 20px;
}
.left-list{
    display: none;
    position: relative;
    right: 15px;
    width: 120px;
    padding: 10px;
    list-style-type: none;
    margin-top: 10px;
}
.item-list{
    background-color: dodgerblue;
}
.vertical .home:hover + .additional{
    display: block;
}
.additional:hover{
    display: block;
}
.vertical .work:hover + .left{
    display: block;
}
.left:hover{
    display: block;
}
.left:hover .left-list{
    display: block;
}