.container{
    margin: 0 auto;
    width: 1250px;
}
.navigation_menu{
    padding: 20px;
}
.logo{
    float: left;
}
.logo img{
    height: 150px;
    width: 150px;
}
.menu {
    float: right;
    padding: 20px;
    list-style: none;
}
.menu li {
    margin: 10px;
    float: left;
}
.menu li a{
    display: inline-block;
    padding: 10px;
    background: orange;
    text-decoration: none;
}
.blocks{
    display: inline-block;

}
.block{
    padding: 15px;
    text-align: center;
    justify-content: center;
    float: left;
    margin: 20px;
    list-style-type: none;
    height: 400px;
    width: 300px;
}
img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: unset;
}
.first{
    background: linear-gradient(50deg, green, yellow, blue, orange);
}
.second{
    background-image: linear-gradient(45deg, green 20%, transparent 25%, transparent 75%, orange 75%, blue 100%),
    linear-gradient(50deg, yellow 20%, transparent 25%, transparent 75%, purple 75%, orange 100%);
    background-size: 100px 100px;
    background-position:0 0, 50px 50px;
}
.third{
    background: repeating-linear-gradient(to left, white 60%, green 80%, yellow 80%, blue 100%, transparent 50%);
}

.fourth{
    background-image:
    linear-gradient(to left top, yellow 35%, transparent 10%),
    linear-gradient(to right top, green 30%, transparent 20%),
    linear-gradient(to right bottom, orange 25%, transparent 50%),
    linear-gradient(to left bottom, blue 25%, transparent 50%);
}
.fifth {
    background: repeating-linear-gradient(
            200deg,
            rgba(255, 0, 0, 0.5) 40px,
            rgba(255, 153, 0, 0.5) 80px,
            rgba(255, 255, 0, 0.5) 100px,
            rgba(0, 255, 0, 0.5) 160px,
            rgba(0, 0, 255, 0.5) 200px,
            rgba(75, 0, 130, 0.5) 240px,
            rgba(238, 130, 238, 0.5) 280px,
            rgba(255, 0, 0, 0.5) 300px
    ),
    repeating-linear-gradient(
            -200deg,
            rgba(255, 0, 0, 0.5) 30px,
            rgba(255, 153, 0, 0.5) 60px,
            rgba(255, 255, 0, 0.5) 90px,
            rgba(0, 255, 0, 0.5) 120px,
            rgba(0, 0, 255, 0.5) 150px,
            rgba(75, 0, 130, 0.5) 180px,
            rgba(238, 130, 238, 0.5) 210px,
            rgba(255, 0, 0, 0.5) 230px
    );

}