.container{
    margin: 0 auto;
    width: 1250px;
}
.navigation_menu{
    padding: 20px;
}
.logo{
    float: left;
}
.logo img{
    height: 150px;
    width: 150px;
}
.menu {
    float: right;
    padding: 20px;
    list-style: none;
}
.menu li {
    margin: 10px;
    float: left;
}


.menu li a{
    display: inline-block;
    padding: 10px;
    background: orange;
    text-decoration: none;
}
.blocks{
    display: inline-block;

}
.block{
    position: relative;
    padding: 5px;
    text-align: justify;
    float: left;
    margin: 20px;
    list-style-type: none;
    height: 250px;
    width: 300px;
}
.first{
    border-radius: 40px;
    border: 5px solid green;
}
.second{
    border-radius: 40px 0 40px 0;
    border: 5px solid green;
}
.third{
    border-radius: 50px 150px 50px 150px;
    border: 5px solid green;
}
.fourth{
    border-radius: 100px / 30px;
    border: solid 20px;
    border-color: green greenyellow green greenyellow;
}
.fifth{
    border: 20px solid;
    border-radius: 150px 50px / 75px 25px;
    border-color: greenyellow green;
}
.sixth{
    border: solid 20px;
    border-color: greenyellow greenyellow greenyellow green;
    border-bottom-right-radius: 100%;
}
.seventh{
    border-image-slice: 18 18 18 18;
    border-image-width: 20px 20px 20px 20px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat:
            stretch stretch;
    border-image-source:
            url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-1.png");
    border-style:
            solid;
}
.eight{
    border-image-slice:
            15 15 15 15;
    border-image-width:
            18px 18px 18px 18px;
    border-image-outset:
            0px 0px 0px 0px;
    border-image-repeat:
            round round;
    border-image-source:
            url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-1.png");
    border-style:
            solid;
}
.ninth{
    border-image-slice:
            27 27 26 27;
    border-image-width:
            20px 20px 20px 20px;
    border-image-outset:
            0px 0px 0px 0px;
    border-image-repeat:
            repeat repeat;
    border-image-source:
            url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-1.png");
    border-style:
            solid;


}
.tenth{
    border-image-slice:
            71 95 64 92;
    border-image-width:
            17px 20px 20px 20px;
    border-image-outset:
            0px 0px 0px 0px;
    border-image-repeat:
            stretch stretch;
    border-image-source: url("images/rhomb2.png");
    border-style: solid;
}
.eleventh{
    background-color: white;
    border: 20px solid white;
    width: 300px;
    padding: 5px;

    border-image: url("images/eleven.jpg");
    border-image-slice: 30;

}
.twelfth{
    border: double orange 16px;
    border-image: url("images/rhomb2.png") 70 stretch stretch;
}

